<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>19/07/25 07:11:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/07/25 07:11:48</td>   <td>2985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyDataDrivenLogin()[pri:2, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">verifyDataDrivenLogin</td> 
  <td>main@1938056729</td>   <td></td> </tr>
</table>
