<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:03:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:04:12</td>   <td>13115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">verifyValidLogin</td> 
  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:04:23</td>   <td>24176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:04:25</td>   <td>26021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:04:37</td>   <td>38106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">verifyInvalidLogin</td> 
  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/12/07 11:04:54</td>   <td>54386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@6093dd95]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
</table>
